**/build/**
**/dist/**
**/.gradle/**
**/.swiftpm/**
**/DerivedData/**
**/node_modules/**

**/generated/**
**/Resources/MathJax/**
**/assets/math-renderer/**
**/LICENSE-MathJax.txt

**/*.png
**/*.jar
**/*.xcodeproj/**
**/*.xcworkspace/**
gradlew
gradlew.bat

packages/mathjax-core/test/golden/svg/**
packages/compose-math/src/test/resources/golden/**
packages/compose-math/src/test/resources/fixtures/**
